
<h1>Browning School</h1>
<% [1,2,3,4,5].each do |n| %>
  <h2><%= "The number is #{n}" %></h2>
<% end %>

<h2> Names </h2>
<% ["Danny", "Saber", "Aaron"].each do |name| %>
  <h3> <%= "HI #{name.upcase}" %> </h3>
<% end %>
